* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: "Young Serif", serif, 
font-family: "Outfit", sans-serif;

## Colors

- White: #ffffffff

- Stone 100: rgba(243, 230, 216, 1)
- Stone 150: rgba(228, 222, 216, 1)
- Stone 600: rgba(95, 87, 78, 1)
- Stone 900: rgba(48, 45, 44, 1)

- Brown 800: rgba(133, 70, 50, 1)

- Rose 800: rgba(123, 40, 79, 1)
- Rose 50: rgba(255, 245, 250, 1)
*/

body {
    background-color: rgba(243, 180, 255, 0.541);
    padding: 20rem auto;
}

.container {
    background-color: #fff;
    max-width: 65vw;
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 25px;
}

/* Receipe Image, title, a short brief & Preparation time style */

.omelette-img {
    width: 100%;
    border-radius: 15px;
}
.receipe-title {
    font-family: "Young Serif", serif;
    font-size: 3rem;
    font-weight: 400;
    color: rgba(48, 45, 44, 1);
    padding: 2rem 0 1.5rem;
}
.receipe-brief {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    color: rgba(95, 87, 78, 1);
}

.preparation-time {
    background-color: rgba(255, 245, 250, 1);
    margin: 2rem 0;
    padding: 2rem;
    font-family: "Outfit", sans-serif;
    border-radius: 15px;
}
.preparation-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(123, 40, 79, 1);
}
.preparation-time ul {
    padding-top: 1rem;
    list-style-position: inside;
    color: rgba(95, 87, 78, 1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.prep-sub-title {
    font-weight: 700;
    padding-left: 1rem;
    color: rgba(48, 45, 44, 1);
}
